body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Style général de la barre de progression */
progress {
    appearance: none; /* Enlever le style par défaut */
    -webkit-appearance: none;
    width: 100%; /* Largeur de la barre */
    height: 10px; /* Hauteur de la barre */
    border-radius: 10px; /* Coins arrondis */
    background-color: #f3f3f3; /* Couleur de l'arrière-plan de la barre */
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2); /* Légère ombre intérieure */
    overflow: hidden; /* Empêche le débordement du contenu arrondi */
}

/* Couleur de la partie remplie pour les navigateurs modernes */
progress::-webkit-progress-value {
    background-color: red; /* Couleur remplie en rouge */
    border-radius: 10px; /* Coins arrondis pour le contenu */
}

/* Style pour l'arrière-plan de la barre dans Chrome/Opera/Safari */
progress::-webkit-progress-bar {
    background-color: #f3f3f3; /* Couleur de fond de la barre non remplie */
    border-radius: 10px;
}

/* Style pour Firefox */
progress::-moz-progress-bar {
    background-color: red; /* Couleur remplie en rouge */
    border-radius: 10px;
}

/* Style pour IE */
progress::-ms-fill {
    background-color: red; /* Couleur remplie en rouge */
    border-radius: 10px;
}


h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

input, select, button, textarea {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

#player-info, #result, #game, #chat, #joingame {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
}

#listemessages {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
    background-color: #f9f9f9;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 18px;
    padding: 5px 0;
    color: #333;
}

#result h2 {
    text-align: center;
    color: #4CAF50;
    font-size: 24px;
}

#joingame {
    display: none;
}
